body {
    background-color: #42e2b2;
    font-family: Verdana;
 
}
h1 {
	text-align: center;
    color:blue;
}
input{
 text-align: left;
}
h3{
    text-align: left;
}
p{
    text-align: left;
}
.center {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

 form {
    background-color: #fff;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

input[type=text], select {
  text-align: left;
  width: 50%;
  height: 50px;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;;
  border-bottom: 2px solid rgb(134, 133, 133);
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#signature {
    text-align: center;
    color: blue;
    font-style: italic;
    font-size: 80%;
  }

 .surveyquestions {
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    border: 1px solid black
  }
  .inputquestions{
    text-align: left;
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    border: 1px solid black
  }
  .optionquestions{
    text-align: left;
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    border: 1px solid black
  }
  .radioquestions {
      
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    border: 1px solid black
  }
  
  textarea{
    font-size: 18px;
    color: black;
    padding: 10px 4px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }


  
  .container { 
    
    margin: auto;
    
  
    padding: 0px;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
 
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
 
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .container input:checked ~ .checkmark {
    background-color: #42e2b2;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .containercheckbox { 
    
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  .containercheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
 
  .checkmarktwo {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
 
  .containercheckbox:hover input ~ .checkmarktwo {
    background-color: #ccc;
  }
  
  
  .containercheckbox input:checked ~ .checkmarktwo {
    background-color: #42e2b2;
  }
  
  
  .checkmarktwo:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .containercheckbox input:checked ~ .checkmarktwo:after {
    display: block;
  }
 
  .containercheckbox .checkmarktwo:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .button {
    text-align: center;
    position: relative;
    background-color: #42e2b2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 171px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }