/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.tab {
  height: 100%; 
  width: 160px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #42e2b2;
  overflow-x: hidden;
  padding-top: 20px;
}

.tab a {
  font-family: 'Comfortaa', cursive;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #2e2e2e;
  display: block;
}


.tab a:hover {
  color: white;
}


.tabcontent {
  margin-left: 160px;
  padding: 0px 10px;
}
h1{
    font-size: 60px;
    font-family: 'Comfortaa', cursive;
     /* text-align: center;*/
      margin: 0;
    
    color:black; 
   /* background-color:rgb(69, 209, 255);*/
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: white;
    border: none;
  }
h2,h3,h4{ font-family: 'Comfortaa', cursive;}
  #signature {
    text-align: center;
    color: blue;
    font-style: italic;
    font-size: 100%;
  }
      .block {
      text-align: center;
      position: relative;
      background-color: #42e2b2;
      display: block;
      border-radius: 8px;
      border: none;
      font-size: 100%;
      color: black;
      padding: 10px;
      width: 150px;
      margin-left:40px;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }.blockClient {
      text-align: center;
      position: relative;
      background-color: #42e2b2;
      display: block;
      border-radius: 8px;
      border: none;
      font-size: 100%;
      color: black;
      padding: 10px;
      width: 200px;
      margin-left:20px;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }
    .blockone {
      text-align: center;
      position: relative;
      background-color: #42e2b2;
      display: block;
      border-radius: 8px;
      border: none;
      font-size: 100%;
      color: black;
      padding: 10px;
      width: 120px;
      margin-left:40px;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }
    .blockHome {
      text-align: center;
      position: relative;
      background-color: #42e2b2;
      display: block;
      border-radius: 8px;
      border: none;
      font-size: 100%;
      color: black;
      padding: 10px;
      width: 150px;
      margin-left:20px;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }
.pictures{
  margin-left:20px;
  display: flex;
  height: 100px;
}
.blockstart {
  text-align: center;
  position: relative;
  background-color: #42e2b2;
  display: block;
  border-radius: 8px;
  border: none;
  font-size: 100%;
  color: black;
  padding: 10px;
  width: 170px;
  margin-left:20px;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.blockCheckout {
  text-align: center;
  position: relative;
  background-color: #42e2b2;
  display: block;
  border-radius: 8px;
  border: none;
  font-size: 100%;
  color: black;
  padding: 10px;
  width: 200px;
  margin-left:40px;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#outer
{
    width:100%;
  
}
.inner
{
    display: inline-block;
}
#outer2
{
    width:100%;
  
}
.inner2
{
    display: inline-block;
}
#outer3
{
    width:100%;
  
}
.inner3
{
    display: inline-block;
}
input[type=checkbox] {
  transform: scale(1.5);

}